.container.user-page
  %header.user-nav
    .media
      .media-left
        = link_to user_path(current_user) do
          %img.media-object{alt: "64x64", "data-holder-rendered" => "true", "data-src" => "holder.js/64x64", src: "#{@user.avatar}"}/
      .media-body
        %h4#top-aligned-media.media-heading
          Group
          %span.label.label-default.project-number
            #{@user.pioneertypes.count} Projects
        .proto-user
          %span.degree #{@user.group}
        .row
          .col-md-6
            %h4 Profile
            = simple_format(h @user.profile)
          .col-md-6
            %h4 Works
            %p= @user.work
.container.proto-list
  .row
    = render partial: "pioneertypes/pioneertype", collection: @pioneertypes
