-if like
  = button_to pioneertype_like_path(pioneertype, like), method: :delete, class: "btn btn-default btn-like", remote: true do
    = image_tag("icon_red_heart.svg")
    %span.num
      LIKE
      = pioneertype.likes_count
- else
  = button_to pioneertype_likes_path(pioneertype), class: "btn btn-default btn-like", remote: true do
    = image_tag("icon_heart.svg")
    %span.num
      LIKE
      = pioneertype.likes_count
