.col-sm-4.col-md-3.proto-content
  .dropdown.drop_menu_location.action_dropdown
    - if current_user.try(:id) == pioneertype.user_id
      %button#dropdownMenu.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}Action
      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
        %li
          = link_to 'Delete', pioneertype_path(pioneertype), method: :delete, rel: "nofollow"
        %li
          = link_to 'Edit', edit_pioneertype_path(pioneertype)
  .thumbnail
    = link_to pioneertype_path(pioneertype) do
      = image_tag pioneertype.fetch_main_image.image
    .caption
      %h3
        = link_to pioneertype.title, pioneertype_path(pioneertype)
    .proto-meta
      .proto-user
        = link_to "by #{pioneertype.user.username}", user_path(pioneertype.user)
      .proto-posted
        = pioneertype.created_at.strftime('%b %d')
    %ul.proto-tag-list.list-inline
      - pioneertype.tag_list.each do |tag|
        %li
          = link_to tag, tag_path(tag), class: 'btn btn-default'

