.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to pioneertype_path(pioneertype) do
      = image_tag pioneertype.pioneertype_images.main[0].image
    .caption
      %h3
        = link_to pioneertype.title, pioneertype_path(pioneertype)
    .proto-meta
      .proto-user
        = link_to "by #{pioneertype.user.username}", user_path(pioneertype.user)
      .proto-posted
        = pioneertype.created_at.strftime('%b %d')
    %ul.proto-tag-list.list-inline
      %li
        %a{href: "#", class: "btn btn-default"} iPad
      %li
        %a{href: "#", class: "btn btn-default"} wireframe
