.container.proto-new
  = form_for @pioneertype do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          .proto-new-title
            = f.text_field :title, placeholder: "Title", required:true
      .row
        = render partial: "pioneertypes/pioneertype_image", locals: {f: f}

      .row.proto-description
        .col-md-12
          = f.text_field :catchcopy, placeholder: "Catch Copy", required:true
        .col-md-12
          = f.text_area :concept, placeholder: "Concept", cols: "30", rows: "4", required:true
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              %input{type: "text", placeholder: "Web Design"}/
            .col-md-3
              %input{type: "text", placeholder: "UI"}/
            .col-md-3
              %input{type: "text", placeholder: "Application"}/
      .row.text-center.proto-btn
        = f.submit "Publish", class: 'btn btn-lg btn-primary btn-block'
