.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@pioneertype.user) do
            %img.media-object{alt: "64x64", data: {holder: {rendered: true}, src: "holder.js/64x64"}, src: @pioneertype.user.avatar}/
        .media-body
          %h4#top-aligned-media.media-heading
            = @pioneertype.title
          .proto-user
            = link_to "by #{@pioneertype.user.username}", user_path(@pioneertype.user)
            %span.degree #{@pioneertype.user.group} #{@pioneertype.user.work}

    - if user_signed_in?
      .col-md-6.text-right#like-button
        - if @like
          = render partial: 'destroy_heart', locals: { pioneertype: @pioneertype, like: @like }
        - else
          = render partial: 'create_heart', locals: { pioneertype: @pioneertype, like: @like }
  .row
    .col-md-9
      = image_tag @pioneertype.fetch_main_image.image, class: 'img-responsive'
    .col-md-3
      %ul.proto-sub-list.list-group
        - if @pioneertype.fetch_sub_image(0)
          %li.list-group-item
            = image_tag @pioneertype.fetch_sub_image(0).image, class: 'img-responsive'
        - if @pioneertype.fetch_sub_image(1)
          %li.list-group-item
            = image_tag @pioneertype.fetch_sub_image(1).image, class: 'img-responsive'
        - if @pioneertype.fetch_sub_image(2)
          %li.list-group-item
            = image_tag @pioneertype.fetch_sub_image(2).image, class: 'img-responsive'
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p= @pioneertype.catchcopy
    .col-md-6
      %h4 Concept
      %p= @pioneertype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num#comment_sum (#{@pioneertype.comments.count})
    .col-md-8
      #comments
        = render partial: 'pioneertypes/comment', collection: @pioneertype.comments
      - if user_signed_in?
        = form_for [@pioneertype, @comment], remote: true do |f|
          %h4 Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :text, id: "comment_field", placeholder: "Your comments", rows: "3", required: true
            .form-group.col-md-2
              = f.submit :comment, class: "btn btn-primary", id: "comment_count"
