.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to pioneertype_path(index) do
      = image_tag index.pioneertype_images.main[0].try(:image)
    .caption
      %h3
        = link_to index.title, pioneertype_path(index)
    .proto-meta
      .proto-user
        = link_to "by #{index.user.username}", user_path(index.user)
      .proto-posted
        = index.created_at.strftime('%b %d')
    %ul.proto-tag-list.list-inline
      %li
        %a{:href => "#", :class => "btn btn-default"} iPad
      %li
        %a{:href => "#", :class => "btn btn-default"} wireframe
